@model GameFinder.Models.RatingModels.RatingDetail

@{
    ViewBag.Title = "Rating Details";
}

<h2>Rating Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.GameName) Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RatingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisualScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisualScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameplayScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameplayScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoundScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoundScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverallScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverallScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
