@model GameFinder.Models.PlatformModels.PlatformDetail

@{
    ViewBag.Title = "Details";
}

<h2>Platform Details</h2>

<div>
    <h4>PlatformDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlatformId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscontinueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscontinueDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlatformId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
