@model IEnumerable<GameFinder.Data.Feature>

@{
    ViewBag.Title = "Feature List";
}

<h2>Feature List</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeatureId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeatureId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeatureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FeatureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FeatureId })
        </td>
    </tr>
}

</table>
