@model IEnumerable<GameFinder.Data.GameGenre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = new { item.GameId, item.GenreId } })
        </td>
    </tr>
    }

</table>
